########## Settings of each project ##########

### GitExtension ###
### https://github.com/gitextensions/gitextensions

# Config file
GitExtensions.settings

## END GitExtension ##

### Visual Studio Code ###
### https://code.visualstudio.com/

# Config file
.vscode

## END Visual Studio Code ##

### PhpStorm ###
### https://code.visualstudio.com/

# Config file
.idea

## END Visual Studio Code ##

########## END Settings of each project ##########
